@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&display=swap');

body {
    width: 100%;
    font-family: "Nanum Gothic", sans-serif;
    position: relative;
}
.wrap {
    position: relative;
    width: 100%; height: 100vh;
}

/* 원형 차트 애니메이션 */
.num {
    width: 65%;
    display: flex; justify-content: space-evenly;
    margin-top: -8%;
}
.chart {
    position: relative;
    display: flex; flex-direction: column-reverse; align-items: center;
    width: 200px; height: 200px;
    border-radius: 50%;
    transition: 0.3s;
}
.chart p {
    margin-bottom: -20%;
    font-size: 22px; font-weight: 600;
}
span.center {
    background: #fff;
    position: absolute; top: 50%; left: 50%;
    width: 120px; height: 120px;
    border-radius: 50%;
    text-align: center; line-height: 4.6; font-size: 26px;
    transform: translate(-50%, -50%);
}

/* header */
header {
    width: 100%; height: 100px;
    background-color: #0C2D61;
    display: flex; justify-content: space-evenly;
    position: fixed; z-index: 10;
}
header .inner {
    width: 80%; height: 100%;
    display: flex; align-items: center; justify-content: space-evenly;
}
header h1 a {
    width: 132px;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    font-weight: bold; color: #fff; font-size: 15px;
}
header h1 a img {
    margin-bottom: 8px;
}
header nav {
    width: 1000px; height: 22px;
    margin-top: 53px;
    font-weight: bold; font-size: 18px; color: #fff;
}
header nav ul.gnb {
    width: 100%;
    display: flex; align-items: center; justify-content: space-around;
}
header nav ul.gnb li {
    transition: .6s;
}
header nav ul.gnb li:hover {
    color: #FFE500;
}
header ul.for {
    width: 140px; height: 25px;
    margin-top: 50px;
    display: flex; align-items: center; justify-content: space-evenly;
    color: #FFE500; font-size: 16px;
    transition: .4s;
}
header ul.for:hover {
    color: #fff;
}
header ul.for li i {
    font-size: 22px;
    transition: .4s;
}
header ul.for li:hover i {
    transform: scale(1.6);
}

/* section */
section {
    display: flex;
    width: 100%; overflow: hidden;
}

/* main */
section.main {
    align-items: center; justify-content: flex-end;
    padding-top: 100px;
}
section.main .main_img {
    position: relative;
    width: 80%; height: 640px;
    border-radius: 0 0 0 60px;
    background-color: #8FA4C5;
    display: flex; align-items: flex-end; justify-content: flex-end;
}
section.main .main_img h1 {
    position: absolute; right: 20%; top: 20%;
    font-size: 40px; color: #fff; font-family: "Noto Serif KR", serif;
    text-align: center; line-height: 1.2;
}
section.main .main_img h1 span {
    font-size: 60px; color: #FFE500;
}
section.main .main_img img {
    position: absolute; left: 2%; top: 10%;
}
section.main .daily {
    width: 80%; height: 190px;
    border-radius: 60px 0px 0px 0px;
    background: rgba(255, 255, 255, 0.40);
    display: flex;
}
section.main .daily h2 {
    margin-left: 55px; margin-top: 25px;
    font-weight: bold; font-size: 20px;
}

/* move */
section.move {
    width: 100%;
    display: flex; justify-content: center;
    padding-top: 70px;
}
section.move .inner {
    width: 1340px; height: 282px;
    display: flex; flex-direction: column; justify-content: space-between;
}
section.move h2 {
    font-size: 30px; font-weight: bold;
}
section.move ul.move {
    display: flex; justify-content: space-between; align-items: center;
    width: 100%; height: 220px;
}
section.move ul.move >li {
    width: 220px; height: 220px; border-radius: 50px;
    background-color: #0C2D61; color: #fff; font-weight: bold;
    display: flex; justify-content: center; align-items: center;
    transition: .4s;
}
section.move ul.move >li:hover {
    background-color: #8FA4C5; color: #0C2D61; border-radius: 105px;
}
section.move ul.move >li >a >ul.in {
    width: 100%; height: 171px;
    display: flex; flex-direction: column; justify-content: space-between; align-items: center;
}
section.move ul.move >li >ul.in >li >img {
    height: 135px;
}

/* vid */
section.vid {
    width: 100%; height: 778px; margin-top: 100px;
    background-color: #e7e7e7;
    position: relative;
    display: flex; flex-direction: column; justify-content: space-between; align-items: center;
}
section.vid h2 {
    font-size: 30px; font-weight: bold; margin-top: 60px;
}
.direc {}
.direc i {
    font-size: 62px; color: #0C2D61;
    transition: .4s;
}
.direc i:hover {
    color: #8FA4C5;
}
.direc .swiper-button-next {
    color: #0C2D61; margin-right: 100px;
}
.direc .swiper-button-prev{
    color: #0C2D61; margin-left: 100px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
.swiper {
    width: 80%;
    height: 100%;
}
.swiper-wrapper {
    width: 100%; height: 100%;
}
.swiper-slide {
    width: 338px;
    height: 602px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper video {
    width: 100%; height: 100%;
    transition: .6s;
}
.swiper video:hover {
    transform: scale(1.1);
}

/* not */
section.not {
    width: 100%; height: 270px; margin-top: 100px;
    display: flex; flex-direction: column; align-items: center; justify-content: space-between;
}
section.not h2 {
    width: 1262px; height: 30px;
    display: flex; align-items: flex-end; justify-content: space-between;
    font-size: 30px; font-weight: bold;
}
section.not h2 >b {
    font-size: 18px; color: #8d8d8d; font-weight: normal;
    transition: .4s;
}
section.not h2 >b:hover {
    color: #000;
}
section.not h2 >b >a {
    display: block;
}
section.not h2 >b >a > i {
    margin-right: 5px;
}
section.not >ul {
    width: 1262px;
    display: flex; justify-content: space-between;
}
section.not >ul >li {
    text-align: center;
    width: 394px; height: 210px; border-radius: 15px;
    background: rgba(22, 68, 121, .7); border: 2px solid #164479;
    transition: .4s;
    position: relative;
}
section.not >ul >li:hover {
    background: rgba(22, 68, 121, 1);
}
section.not >ul >li >a {
    display: block;
}
section.not >ul >li >a >.up {
    display: flex; align-items: center; justify-content: center; margin-top: 13px;
    font-size: 20px; color: #fff; line-height: 1.3; font-weight: 700;
    transition: .4s;
}
section.not >ul >li:hover >a >.up {
    color: #FFE500;
}
section.not >ul >li >a >.dw {
    width: 100%; height: 128px;
    background-color: #fff; border-radius: 0 0 15px 15px;
    position: absolute; bottom: 0; left: 0;
    font-size: 16px; line-height: 1.3; font-weight: 700;
    display: flex; flex-direction: column; align-items: center; justify-content: space-evenly;
}
section.not >ul >li >a >.dw >span {
    font-size: 14px; line-height: 1.3; color: #8d8d8d;
}

/* other */
section.other {
    width: 100%; height: 160px; margin-top: 130px;
    background-image: url(../img/oth_bg.png);
    position: relative;
}
section.other >ul.oth {
    width: 854px; height: 100%;
    position: absolute; right: 170px;
    display: flex; align-items: center; justify-content: space-between;
}
section.other >ul.oth >li {
    width: 200px; height: 100%;
    color: #fff; font-size: 16px; font-weight: bold; text-align: center; line-height: 3;
    border-radius: 15px;
    transition: .4s;
}
section.other >ul.oth >li:hover {
    opacity: .6;
}
section.other >ul.oth >li:nth-child(1){background-image: url(../img/oth1.png); color: #000;}
section.other >ul.oth >li:nth-child(2){background-image: url(../img/oth2.png);}
section.other >ul.oth >li:nth-child(3){background-image: url(../img/oth3.png);}
section.other >ul.oth >li:nth-child(4){background-color: #f3e036;}
section.other >ul.oth >li:nth-child(4) >a >span {
    font-size: 60px; font-weight: normal; line-height: 1.4;
}
section.other >ul.oth >li >a {
    width: 100%; height: 100%;
    display: block;
}

/* footer */
footer {
    width: 100%; height: 200px;
    background-color: #0C2D61; color: #eee;
    margin-top: 100px;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    position: relative;
}
footer .center {
    width: 622px; height: 130px;
    display: flex; flex-direction: column-reverse; align-items: center; justify-content: space-between;
}
footer h1 {}
footer h1 >a {
    display: block;
}
footer h1 >a >img {
    width: 140%;
}
footer ul.go {
    width: 520px;
    display: flex; justify-content: space-between;
    
}
footer ul.go >li {
    font-size: 14px; color: #eee;
    transition: .4s;
}
footer ul.go >li:hover {
    transform: scale(1.1);
    color: #fff;
}
footer .copy {
    position: absolute; left: 160px; bottom: 30px;
    font-size: 12px; font-weight: normal; line-height: 1.3;
} 
